html {
	max-width: 34rem;
	padding: 1rem;
	margin: auto;
}

body {
	margin: 0;
}

p {
	line-height: 2;
}

p {
	font-family: "Times New Roman", "Times", serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 2em;
	margin-bottom: 1em;

	font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1 {
	font-size: 2em;
}

li {
	padding-bottom: 1em;
}

ul {
	list-style-type: none;
	padding-left: 2em;
}

ul > li::before {
	content: "—";
	margin-left: -2em;
	padding-right: 1em;
}


p, ul, ol {
	margin-bottom: 2em;
	color: #2f2f2f;
}

a {
	color: #e247a7;
}

a:focus {
	color: #cc5ba1;
}

a:hover {
	color: #85a2dd;
}

nav h1 a, nav h1 a:visited {
	text-decoration: none;
	color: black;
}

nav h1 a:hover {
	color: #85a2dd;
}

nav ul {
	padding-left: 0;
}

nav ul li {
	list-style: none;
	display: inline;
	padding-right: .5em;
}

nav ul li::before {
	display: none;
}

main {
	width: 100%;
}

.meta {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: .75em;
	color: grey;
}

nav {
	border-bottom: 1px solid #e247a7;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

footer {
	border-top: 1px solid #e247a7;

	display: flex;
	justify-content: space-between;
}

footer img {
	padding-top: 1em;
	height: 2em;
}

img {
	image-rendering: pixelated;
}

img.author, .centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.between {
	margin-top: 2em;
	max-width: 90%;
}
