:root {
	--color-accent: #e247a7;
	--color-accent-focus: #c24d93;
	--color-accent-hover: #85a2dd;
	--color-text-heading: black;
	--color-text-body: #2f2f2f;
	--color-text-alt: grey;
	--color-background: white;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-accent: #e247a7;
		--color-accent-focus: #e782be;
		--color-accent-hover: #7a92c2;
		--color-text-heading: #d1d1d1;
		--color-text-body: #dfdfdf;
		--color-background: black;
	}
}

html {
	max-width: 34rem;
	padding: 1rem;
	margin: auto;

	background-color: var(--color-background);
}

body {
	margin: 0;
}

p {
	line-height: 2;
}

p, li, figcaption, blockquote, section a {
	font-family: "Times New Roman", "Times", serif;
}

blockquote {
	line-height: 1.52;

	margin: 1em 3em 1em 0;
	padding-left: 3em;

	border-left: solid var(--color-accent) 1px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 2em;
	margin-bottom: 1em;

	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	color: var(--color-text-heading);
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
	font-style: italic;
}

h4 {
	font-size: 1.1em;
}

li {
	padding-bottom: 1em;
}

ul {
	list-style-type: none;
	padding-left: 2em;
}

ul > li::before {
	content: "—";
	margin-left: -2em;
	padding-right: 1em;
}


p, ul, ol, blockquote {
	margin-bottom: 2em;
	color: var(--color-text-body);
}

a {
	color: var(--color-accent);
}

a:focus {
	color: var(--color-accent-focus);
}

a:hover {
	color: var(--color-accent-hover);
}

nav h1 a, nav h1 a:visited {
	text-decoration: none;
	color: var(--color-text-heading);
}

nav h1 a:hover {
	color: var(--color-accent-hover);
}

nav ul {
	padding-left: 0;
}

nav ul li {
	list-style: none;
	display: inline;
	padding-right: 0.5em;
}

nav ul li::before {
	display: none;
}

main {
	width: 100%;
	margin-bottom: 3em;
}

.meta {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 0.75em;
	color: var(--color-text-alt);
}

nav {
	border-bottom: 1px solid var(--color-accent);
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

footer {
	border-top: 1px solid var(--color-accent);

	display: flex;
	justify-content: space-between;
}

footer img {
	padding-top: 1em;
	height: 2em;
}

footer div p {
	margin: 0;
}

footer div {
	text-align: right;
	margin-top: 1em;
}

img {
	image-rendering: pixelated;
}

img.author, .centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.between {
	margin-top: 2em;
	max-width: 90%;
}

figure {
	margin: 1em 2em;
	text-align: center;
}

figure img {
	max-width: 100%;
}

figcaption {
	font-style: italic;
	color: var(--color-text-body);
}

.error-page {
	text-align: center;
}

a[href^="http"]:after {
	display: inline-block;
	color: var(--color-text-alt);
	content: "\2924";
	padding-left: 0.25em;
	font-size: 0.75rem;
	text-decoration: none;
}

#welcome {
	margin-top: 3em;
	text-align: center;
}

#welcome span {
	color: var(--color-accent);
}

#webring {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: last baseline;

	font-size: 0.9em;
	text-align: center;
}

#wwcg .meta .time + .location:not(:empty):before {
	content: "—";
	display: inline-block;
	padding: 0 0.5em;
}

#wwcg h3 {
	text-align: center;
	color: var(--color-accent);
}

#wwcg section {
	padding-bottom: 2em;
}

#wwcg section a {
	font-size: 1em;
}

#wwcg .expected, #wwcg .past {
	opacity: 0.75;
}

#wwcg .expected h4, #wwcg .past h4 {
	color: var(--color-text-alt)
}

#wwcg .expected .time:before {
	display: inline-block;
	color: var(--color-accent-hover);
	content: "{expected}";
	padding-right: 0.25em;

	font-weight: 200;
}
